
{% assign day = include.date | date: "%-d" %}
{% capture day %}{{ day }}{% endcapture %}

{% case day %}
{% when "1" or "11" %}
  {% capture pre %} l'{% endcapture %}
{% else %}
  {% capture pre %} el {% endcapture %}
{% endcase %}

{% assign month = include.date | date: "%-m" %}
{% case month %}
{% when "1" %}
  {% capture month %}gener{% endcapture %}
{% when "2" %}
  {% capture month %}febrer{% endcapture %}
{% when "3" %}
  {% capture month %}març{% endcapture %}
{% when "4" %}
  {% capture month %}abril{% endcapture %}
{% when "5" %}
  {% capture month %}maig{% endcapture %}
{% when "6" %}
  {% capture month %}juny{% endcapture %}
{% when "7" %}
  {% capture month %}juliol{% endcapture %}
{% when "8" %}
  {% capture month %}agost{% endcapture %}
{% when "9" %}
  {% capture month %}setembre{% endcapture %}
{% when "10" %}
  {% capture month %}octubre{% endcapture %}
{% when "11" %}
  {% capture month %}novembre{% endcapture %}
{% when "12" %}
  {% capture month %}desembre{% endcapture %}
{% endcase %}

{% assign year = include.date | date: "%Y" %}
{% capture year %}{{ year }}{% endcapture %}
