<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="left-header header-component">
      <a title="Home" class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>
    <nav class="site-nav">
      {% if site.lang == "ca" %}
        {% if page.layout == "post" and page.english_available == false %}
          <span class="no-lang" title="{% t blog.no_english_post %}">{% t global.english %}</span>
        {% else %}
          <a href="/en{{ page.url }}" >{% t global.english %}</a>
        {% endif %}
      {% elsif site.lang == "en" %}
        {% if page.layout == "post" and page.catalan_available == false %}
          <span class="no-lang" title="{% t blog.no_catalan_post %}">{% t global.catalan %}</span>
        {% else %}
          <a href="{{ page.url }}" >{% t global.catalan %}</a>
        {% endif %}
      {% endif %}

      <a title="{% t titles.blog %}" href="{% tl blog %}">{% t titles.blog %}</a>
    </nav>
  </div>
</header>
