<div class="post-meta">
  <div class="autor">
    {% t blog.posted_on %}

    {% if site.lang == "ca" %}
      {% include date.html date=include.date %}
      {{ pre }}{{ day }} de {{ month }} del {{ year }}
    {% else %}
      {{ include.date | date: "%B %-d, %Y" }}
    {% endif %}

    {% t footer.by %} {{ site.author }}.

    {% capture tags_count %}{{ include.tags | size }}{% endcapture %}
    {% if tags_count != "0" %}
    <span>{% t blog.tags %}: </span>
    {% endif %}
  </div>
  <div class="separator"></div>

  {% include listtags.html tags=include.tags urltobeused=include.urltobeused %}
</div>
