#cv {
    h1 {
        margin-bottom: 0px;
    }

    h2 {
        margin-top: 30px;
    }

    .info {
        margin-bottom: 30px;
    }

    a {
        color: $text-color;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

    .info a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    p {
        position: relative;
        margin-right: 0;
    }

    code {
        font: normal normal;
        color: $text-color;
        background-color: $background-color;
        border: 0px;
    }

    p code {
        position: absolute;
        text-align: right;
        right: 0%;
    }

    .end {
        margin-top: 50px;
    }
}
