---
layout: default
---

<h1 class="post-title-smaller">
  {{ page.title }}{% if page.subtitle %}.<small class="post-subtitle"> {{ page.subtitle }}</small>{% endif %}
</h1>

{% include postmeta.html urltobeused="/" date=page.date tags=page.tags %}

{{ content }}

<div class="post-notice">
  <p>
    {% t blog.notice %}
    <a href="https://creativecommons.org/licenses/by-nd/4.0/">Creative Commons BY-ND 4.0</a>.
  </p>
  <p>
    {% t blog.rss %}

    {% if site.lang == "ca" %}
    <a href="/feed.xml">canal d'RSS</a>.
    {% else %}
    <a href="/feed.en.xml">RSS Feed</a>.
    {% endif %}
  </p>
</div>
